body, html {
    margin: 0;
}

h1, h3, h4, h5, h6, a{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: yellow;
}

p{
    color: white;
}

body{
    background-image: url(back.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

h1{
    margin-top: 5%;
    margin-left: 5%;
    font-size: 3rem;
}

form > input.btn{
    margin: 1%;
    width: 10%;
    height: 5vh;
    background-color: black;
    color: yellow;
    border-style: none;
    
}

form > input.put{
    width: 20%;
    height: 5vh;
    margin-left: 1%;
    border-style: none;
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
}