body, html {
    margin: 0;
}

h1, h3, h4, h5, h6, a{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: yellow;
}

p{
    color: white;
}

body{
    background-image: url(back.jpg);
    background-repeat: no-repeat;
    background-size: 120%;
}

div > h1{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

form > input.btn{
    margin: 1%;
    width: 15%;
    height: 5vh;
    background-color: black;
    color: yellow;
    border-style: none;
    
}

form > input.put {
    width: 25%;
    height: 6vh;
    margin-left: 3%;
    border-style: none;
    background-color: black;
    color: white;
}

form > h4 {
    margin-bottom: -0%;
    margin-top: 3%;
}
