body, html {
    margin: 0;
}

h1, h3, h4, h5, h6, a{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Header Style */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

header > a {
    text-decoration: none;
    color: yellow;
    display: flex;
}

header > a > div > h2.opt {
    margin-top: -20%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header > a > div > h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header > nav > ul {
    display: flex;
    gap: 20px;
    align-items: center;
}

header > nav > ul> li {
    list-style: none;
}

header > nav > ul> li > a {
    color: yellow;
    text-decoration: none;
}

body{
    background-image: url(back.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

/* FOOTER STYLE */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: yellow;
    height: 10vh;
    position: fixed;
    bottom: 0;
    width: 100%;
}